@import "../css/colors";
.chat-message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $text-white;
    overflow: hidden;
    white-space: pre-wrap;
    padding-top: 6px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 6px;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-input {
    //style chat input
    flex: 1;
}

.message {
    align-self: flex-start;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 40px;
    max-width: 420px;
    background-color: #fff;
    margin-bottom: 8px;
    border-radius: 6px;
    z-index: 2;
    box-shadow: 0 2px 1px 0 rgba(160, 172, 182, 0.5);
}

.message.my-message {
    align-self: flex-end;
    background-color: #effdde;
    box-shadow: 0 2px 1px 0 rgba(93, 196, 82, 0.5);
}
.message-username {
    display: flex;
    font-size: 12px;
    justify-items: left;
    width: 100%;
}
.message.message.droplet {
    display: flex;
    flex-direction: column;
}
.message.droplet:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -8px;
    width: 12px;
    height: 1px;
    background-color: inherit;
    z-index: 1;
    box-shadow: 0px 1px 1px 1px rgba(160, 172, 182, 0.5);
}
.message.droplet:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -10px;
    width: 16px;
    height: 10px;
    clip-path: path("M 10,0 A 10,10 0 0 1 0,10 H 16 V 0 Z");
    background-color: inherit;
    z-index: 1;
    box-shadow: 0 2px 1px 0 rgba(160, 172, 182, 0.5);
}

.message.my-message.droplet:before {
    right: -8px;
    left: initial;
    box-shadow: 0px 1px 1px 1px rgba(93, 196, 82, 0.5);
}
.message.my-message.droplet:after {
    right: -10px;
    left: initial;
    clip-path: path("M 6,0 A 10,10 0 0 0 16,10 H 0 V 0 Z");
}

.message__text,
.message__image__text .message__text__content {
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
}

.message__image,
.message__image__text {
    position: relative;
    z-index: 2;
}
.message__image {
    border-radius: 6px;
}
.message__image__content {
    border-radius: 6px;
    margin-bottom: -3px;
    max-width: 100%;
}

.message__time {
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    text-align: right;
    font-size: 12px;
    color: #a0acb6;
}
.my-message .message__time {
    color: #5dc452;
}
.message__image .message__time {
    display: block;
    float: initial;
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 4px;
    color: #fff;
    background-color: rgba(38, 50, 56, 0.5);
    border-radius: 6px;
    transition: opacity 0.2s linear;
    opacity: 0;
}
.message__image:hover .message__time {
    opacity: 1;
}
