.console-tabs-container {
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.console-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.console-container {
    height: 100%;
    box-shadow: #282828;
    overflow-y: auto;
}
.console-messages {
    margin-inline: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.console-header-container {
    display: flex;
    align-items: center;
}
.console-status {
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 20px;
}
.console-runtime {
    font-size: 14px;
}
.console-stdout,
.console-stderr {
    background-color: #ffffff1a;
    border-radius: 5px;
    padding: 5px;
}
.console-title {
    font-size: 0.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
