@import "./_colors.scss";

.problem-page-container {
  display: flex;
  margin-top: 2vh;
  margin-inline: 1vw;
  height: 90vh;
}

.problem-description-container {
  flex: 1;
  overflow: scroll;
}
.editor-container {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.editor-component {
  flex: 1;
}
.console-and-chat-container {
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.chat-message-container {
  height: 70%;
  background-color: $text-white;
  overflow-y: scroll;
}
