@import "./_colors.scss";

.problem-page-container {
	display: flex;
	margin-top: 2vh;
	margin-inline: 1vw;
	height: 90vh;
	overflow: hidden;
}

.problem-tabs-container {
	flex: 1;
}

.editor-container {
	display: flex;
	flex: 1;
	overflow: hidden;
	flex-direction: column;
}
.editor-component {
	display: flex;
	flex: 1;
}
.editor-options {
	display: flex;
}
.editor-options > div {
	margin-bottom: 5px;
	padding-right: 5px;
}
.console-tabs-container {
	transition-property: height;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.chat-message-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: $text-white;
	overflow: hidden;

	white-space: pre-wrap;
}
.chat-message {
	background-color: $text-white;
	overflow-y: scroll;
	height: 90%;
}
.chat-input {
	//style chat input
	flex: 1;
}
.console-options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 5px;
}
.console-message {
	height: 100%;
	border: black solid 1px;
	overflow-y: scroll;
}
.submissions-container {
	height: 100%;
}
.ag-theme-alpine-submission {
	--ag-foreground-color: white;
	--ag-secondary-foreground-color: white;
	--ag-background-color: #282828;
	--ag-data-color: white;
	--ag-row-hover-color: rgba(255, 255, 255, 0.229);
	--ag-header-foreground-color: white;
	--ag-header-background-color: #282828;
	--ag-row-border-color: #282828;
	--ag-font-size: 12px;
	--ag-font-family: monospace;
	--ag-borders: none;
	--ag-selected-row-background-color: none;
	--ag-range-selection-border-color: none;
	--ag-range-selection-border-style: none;
	--ag-odd-row-background-color: #282828;
	--ag-control-panel-background-color: #282828;
}

​.MuiTabs-root {
	min-height: 0 !important;
	align-items: center;
}
.MuiButtonBase-root {
	min-height: 0 !important;
}
.MuiTabs-flexContainer {
	min-height: 0 !important;
	height: 30px;
}

.system {
	color: purple
}
