@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import "./_colors.scss";

td, th, .recent-text {
    font-family: 'Passion One', sans-serif;
    font-size: 1.1em;
}

th {
    padding-left: 2%;
}

thead, tbody, tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

tbody {
    display: block;
    max-height: 45vh;
    overflow: auto;
}

td{
    border: none;
    background-color: rgba(254, 254, 254, 0.5);
    padding: 2% 2%;
}

.profile {
    margin: 3% 5%;
}

.subcontainer {
    background-color: #D9D9D9;
}

.left-content {
    margin: 2% 5%;
}

.left-box {
    align-items: center;
    padding-top: 18%;
    margin-left: 10%;
    display: flex;
}

.user-element {
    padding-bottom: 2vh;
    display: flex;
}

.edit-icon {
    display: none;
    position: absolute;
    left: 43%;
    cursor: pointer;
}

.edit-icon:hover {
    text-decoration: underline;
}

#left-container:hover .edit-icon {
    display: block;
}

.right-content {
    margin: 2% 5%;
}

.display-pic {
    margin-right: 5%;
    margin-bottom: 3%;
    height: 25vh;
    width: 30vh;
    border-radius: 40%;
    object-fit: cover;
    border: 2px solid black;
}

.header-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    object-fit: cover;
}

.username {
    padding-left: 2vh;
    text-align: center;
}

.recent-table {
    border-collapse: separate; 
    border-spacing: 0px 5px;
    width: 100%;
    text-align: left;
}

.recent-no-sub {
    padding-top: 27vh;
    text-align: center;
    height:55vh;
}

#top-container {
    height: 65vh;
    display: flex;
    margin-bottom: 3%;
    gap: 5%;
}

#bottom-container {
    height: 50vh;
    flex: 1;
}

#left-container {
    flex: 1;
}  

#right-container {
    flex: 1;
    
}



