.ag-theme-alpine {
  /* disable all borders */
  --ag-borders: none;
  --ag-selected-row-background-color: none;
  --ag-range-selection-border-color: none;
  --ag-range-selection-border-style: none;
  --ag-background-color: #e5e1e1;
}
.question-not-completed {
  background-color: #ff2222;
}
.question-completed {
  background-color: #44fa28;
}
.question-inprogress {
  background-color: rgb(255, 134, 21);
}
.question-container {
  background-color: $bg-color;
  height: 500px;
  margin-inline: 100px;
}
.question-filter-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
