.question-not-completed {
  background-color: #d71f1f;
}
.question-completed {
  background-color: #40dd27;
}
.question-inprogress {
  background-color: rgb(255, 134, 21);
}
.question-container {
  background-color: $bg-color;
  height: 500px;
  margin-inline: 100px;
}

.title-div:hover {
  text-decoration: underline;
  cursor: pointer;
}
