@import "../css/colors";
.question-not-completed {
	background-color: #d71f1f;
}
.question-completed {
	background-color: #40dd27;
}
.question-inprogress {
	background-color: rgb(255, 134, 21);
}
.question-container {
	background-color: $bg-color;
	height: 500px;
	margin-inline: 100px;
}

.title-div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-div {
  padding: -100px
}

.action-btn {
  color: white;
  background-color: transparent;
  border: 0px;
  height: 3em;
  border-radius: 5px;
  margin-right: 5%;
}

.action-btn:hover {
  color: black;
  cursor: pointer;
}

