@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./_colors.scss";

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background: $bg-color;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, $bg-color, $bg-color, $bg-color);  /* Chrome 10-25, Safari 5.1-6 */

  
}

.signup-container {
  max-width: 800px; /* Adjust the max-width as needed */
  width: 100%;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
  position: absolute;
  left: 20%;
  top: 20%;
}

.signup-container span {
  color: #adb5bd;
}

.signup-container h2 {
  text-align: center;
  color: white;
}

.forgot-password {
  color: white;
  font-size: small;
  margin-top: 27px;
}

.forgot-password span {
  color: #519cff;
  cursor: pointer;
}

#form {
  max-width: 320px;
  width: 100%;
  margin: 10 auto; 
}

#form > input, .button {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
  margin-bottom: 10px; 
}

#form > input:focus {
  outline: none;
}

#form > .button {
  align-items: center;
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1.5em;
}

.flex-col {
  flex-direction: column;
}

.signup-container .col-1 {
  flex: 1; 
  padding: 3em 0;
}

.signup-container .col-2 {
  flex: 1; 
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container .col-2 img {
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 860px) {
  .signup-container .col-2 img {
    display: initial;
  }
}


