.solution-item-container-1 {
	display: flex;
	cursor: pointer;
}
.solution-item-container-2 {
	display: flex;
	flex-direction: column;
	padding: 5px;
	height: 100%;
}
.solution-item-container-2 > * {
	margin-top: 5px;
	margin-bottom: 5px;
}
.solution-item-title {
	font-size: medium;
	font-weight: bold;
}
.solution-item-avatar {
	margin-top: 10px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 16px;
}
.solution-icon {
	display: flex;
}
