body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-body {
  padding: 3% 5% 0% 5%;
}

.db_loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-table {
  padding-top: 2%;
}

.delete-button {
  padding-top: 5%;
}

.hover-td {
  cursor: pointer;
}

.hover-td:hover{
  color: red;
  text-decoration: underline;
}

.read-description {
  white-space:pre-wrap; 
  word-wrap:break-word;
}

.td-description {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3em;

  white-space:pre-wrap; 
  word-wrap:break-word;
}
