name: System test

on:
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    name: System test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        cd system_test
        pytest